
/*THIS IS FOR THE FIRST ROW DIV (ROW 1)*/

.sectionss{

  top: 492px;
/* UI Properties */
text-align: left;
font: normal normal normal 18px/30px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
  }

  .litepaper:hover{
     background: #fff;
  box-shadow:  0px 3px 8px #afafaf;

  color: #ff0000;
  }

  .litepaper{
    top: 579px;
left: 118px;
width: 200px;
height: 60px;
/* UI Properties */
background: #FF0000 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;color: white;
  }

  /*THIS ENDS THE FIRST ROW DIV*/

  /*THIS IS FOR THE CHANGE IN ANIMATIONS AND ABOUT SIRINU DIV */
*{
}

#answer{
  margin-top: 40px;
}

.grid-container_1 {
    background:url(bck.jpg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: center;
}


#grid-container_1{
    margin-top: 10%;
}
.grid-content_1 {

  text-align: center;
}

.grid-content_1 img{
    width: 100%;margin-left: left: 1038px;; 
}
.grid_content_1_a{
    text-align: left;
    font-size: 64px;
font: normal normal normal 20px/32px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}


.grid-content_1 p span{
    top: 0px;
left: 0px;
width: 165px;
height: 84px;
/* UI Properties */
text-align: left;
font: normal normal 900 64px/70px Roboto;
letter-spacing: 0px;
color: #1E1D1D;
}
.grid-content_1 p{
        font-size: 64px;
    color: black;
    text-align: left;
    margin-right: 10%;
}

.grid-content_1 ul li{
    text-align: left;
    margin-left: 10%;
}


.grid_container_1_button{
padding: 3%;
 width:30%; 
 background-color: #ff0000;
  border-radius: 10px; 
  background: #FF0000 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
  color: white;
}

.grid_container_1_button:hover{
 background: white;
  box-shadow:  0px 3px 8px #afafaf;

  color: #ff0000;
}

.about_section p{

}
#buttons p{
  color: rebeccapurple;
}
#buttons {
  min-width: 30%;

}

.about_sirinu {
    text-align: left;
font: normal normal normal 48px/63px Roboto;
letter-spacing: 0px;
color: #000000;
}

.about_sirinu p span{
    text-align: left;
font: normal normal bold 48px/63px Roboto;
letter-spacing: 0px;
color: #000000;
}

.about_sirinu_h5{
    font-size: 20px;
    text-align: left;
font: normal normal normal 20px/32px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

#intro {
  width: 70%;
  min-width: 30%;
  margin-right: auto;
  margin-left: auto;
}


.info {
  background-color: #f0f0f0;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
}
.info:hover{
  background-color: #ECAB8A;
  font-weight: bold;
}



.first_answer p{
    text-align: left;
font: normal normal normal 18px/32px Roboto;
letter-spacing: 0px;
color: green;
opacity: 1;
}


.answers{
font: normal normal normal 18px/32px Roboto;
}

.answers p{
    text-align: left;
    left: 825px;
    margin-left: 6%;
font: normal normal normal 18px/32px Roboto;
letter-spacing: 0px;
color: black;
opacity: 1;
}



#important {
  display: none;
  width: 70%;
}

.closed {
  display: none;
}
.open {
  display: inline-block;
}

footer {
  padding-top: 20px;
  margin-top: 20px;
}

.question {
    margin-top: 14%;
  text-align: justify;
  border: none;
  outline: none;
  padding: 10px 16px;
 background: linear-gradient(to bottom, transparent 80%, #afafaf 20%);
  cursor: pointer;
  color:#afafaf ;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
 background: linear-gradient(to bottom, #f0f0f0 80%, BLACK 20%);
   color: black;
   font-weight: bolder;
}



@media screen and (max-width: 600px) {
  .question {
    font-size: 5px;
  }

.div_section_1_a img{
  display: none;
}

.div_section_1 {
}

.div_section_1{
  font-size: ;
}

.row{
  display: grid;
}
}

/*-------===============THIS IS ENDS  THE CHAGE ANIMATIONSECTION ---------------*/

/*-------===============THIS IS FOR THE roamdap SECTION ---------------*/
.carousel-item ol li{
  font-size: 12px;
  font-weight: bold;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}


.roadmap_button{
  top: 2151px;
left: 351px;
width: 204px;
height: 60px;
background: #000066 0% 0% no-repeat padding-box;
border: 3px solid #FFFFFF;
border-radius: 25px;
opacity: 1;
color: white;
margin-top: 15px;
}



.sirinu span{
  top: 0px;
left: 128px;
width: 138px;
height: 63px;
/* UI Properties */
text-align: left;
font: normal normal bold 48px/63px Roboto;
letter-spacing: 0px;
color: #000000;
text-align: center;
}

.sirinu{

/* UI Properties */
background-color: #f0f0f0s;
text-align: left;
font: normal normal normal 48px/63px Roboto;
letter-spacing: 0px;
color: #000000;
background-color: #f0f0f0;
text-align: center;
}

.read{
  background-color:#f0f0f0 ;
  margin-left: 130px;
  color: #dfdbdb;
  margin-top: ;
}







hr.new1 {
  margin-top: 30%;
}

.carousel-item ol li{
  height: 30px;
}

.carousel-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 90%;
}


.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  scrollbar-width: none;
}

.arrowz {
  width: 50px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #000066;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 0;
  pointer-events: all;
}

.arrowz:hover {
  background-color: #5e4c5a;
  transform: scale(1.1);
}

.arrowz svg {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}

.arrow-inactive {
  opacity: 0.5;
  cursor: auto;
}

.arrow-inactive:hover {
  transform: none;
}

.carousel-item {
  width: px;
  height: px;
  margin-left: px;
}

.carousel-item img {

}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  color: white;
  cursor: pointer;
  width: 50px;
  height: 30px;
  background: #5e4c5a;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #ef8354;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 20px;
}

input:checked + label #off {
  display: none;
}

:not(input:checked) + label #on {
  display: none;
}

#off {
  justify-content: flex-end;
  font-size: 0.65rem;
}

#toggle-overflow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  color: #5e4c5a;
  font-size: 0.75rem;
}

.overflow {
  overflow-x: auto;
  scrollbar-width: thin;
}

.carousel-wrapper.scrollbar-overflow ::-webkit-scrollbar {
  height: 6px;
}

.carousel-wrapper ::-webkit-scrollbar {
  height: 0px;
}

.carousel-wrapper ::-webkit-scrollbar-track {
  background: #c0b6af;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb {
  background: #5e4c5a;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb:hover {
  background: #2d242b;
}

@media (pointer: coarse) {
  .carousel {
    overflow-x: auto;
    scrollbar-width: thin;
  }
  .carousel-wrapper ::-webkit-scrollbar {
    height: 6px;
    margin-left: 5%;
  }
}


*{
    font-family: roboto;
    
}
  .row{
  grid-column: 1fr 1fr;
  justify-content: space-between;
  display: inline-flex;
}

.div_section_1{
    margin-right: 200.06px;
    margin-left: 111px;
    margin-top: 105px;
}

.div_section_1 p span{
    font-family: roboto medium;
    top: 0px;
left: 0px;
height: 84px;
/* UI Properties */
text-align: left;
font: normal normal 900 64px/70px Roboto;
letter-spacing: 0px;
color: #1E1D1D;
}


.div_section_1 p{
    text-align: left;
font: normal normal 300 64px/70px Roboto;
letter-spacing: 0px;
color: #1E1D1D;
}








.about_sirinu h5{
    /* Layout Properties */
    margin-top: 114px;
top: 0px;
left: 0px;
margin-left: 111px;

/* UI Properties */
text-align: left;
font: normal normal normal 48px/63px Roboto;
letter-spacing: 0px;
color: #000000;
}

.about_sirinu h5 span{
   margin-top: ;
font: normal normal bold 48px/63px Roboto;

}

.about_sirinu p{
    margin-top: 26px;
    margin-left: 111px;
    /* Layout Properties */
top: 946px;
left: 114px;
width: 600px;
height: 442px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/32px Roboto;
letter-spacing: 0px;

color: #000000;
opacity: 1;
}



/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}




.div_section_1{
    margin-right: 40px;
    margin-left: 15px;
    margin-top: 5px;
}

.div_section_1 p span{
    font-family: roboto medium;
    top: 0px;
left: 0px;
height: 84px;
/* UI Properties */
text-align: left;
font-size:45px;
letter-spacing: 0px;
color: #1E1D1D;
}


.div_section_1 p{
    text-align: left;
font-size: 45px;
letter-spacing: 0px;
color: #1E1D1D;
}
.sectionss{
}

}









/*-----=================THIS ENDS THE ROADMAP DIV--=====================*/
/*--====================THIS IS FOR THE FOOTER---======================*/
.footer_section h5{
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-top: 2%;

}

hr.new1 {
  border-top: 1px solid #fff;
}

.footer {
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: #000066;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.links li {
  font-size: 1.5rem;
  margin-bottom: 10px
      list-style-type: none;

}

.links ul {
  list-style: none;
}
.links li a {
  font-size: 15px;
      font-family: roboto;

  color: white;
  text-decoration: none;
list-style-type: none}

.links li a:hover{
    color: #ff0000;
}

.logo {
  width: 30%;
}

.quickLinks {
  margin-top: 70px;

  width: 30%;
  margin-left: 8%;
}

.quickLinks p{
  font-size: 15px;
  text-align: justify;
  color: white;
}

.quickContacts {
  width: 30%;
  margin-top: 70px;
  color: white;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0px 20px;
  }

  .logo,
  .quickLinks,
  .quickContacts {
    width: 100%;
  }

  .quickLinks ul li{

    text-align: center;
  }

  .quickLinks h1{
    text-align: center;

  }

  .quickContacts h1{
    text-align: center;
  }

  .quickLinks p{
    margin-right: 15%;
    text-align: center;
  }

  .quickLinks img{
    margin-left: 20%;
  }
}




/*THIS IS FOR THE SOCIAL MEDIA LINKS*/



.socia_links_section {
  margin-right: ;
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social-links {
  display: flex;
}

.social-links a {
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 13px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.social-links a .fab {
  font-size: 15px;
  line-height: 40px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}



.s
.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-10px);
}

/*this ends the footer*/
