/*THIS IS FOR THE FIRST ROW DIV*/


*{

}


.grid-container_1 {
    background:url(bck.jpg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: center;
}



#grid-container_1{
    margin-top: 10%;
}
.grid-content_1 {

  text-align: center;
}

.grid-content_1 img{
    width: 100%;margin-left: left: 1038px;; 
}
.grid_content_1_a{
    text-align: left;
    font-size: 64px;
font: normal normal normal 20px/32px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}


.grid-content_1 p span{
    top: 0px;
left: 0px;
width: 165px;
height: 84px;
/* UI Properties */
text-align: left;
font: normal normal 900 64px/70px Roboto;
letter-spacing: 0px;
color: #1E1D1D;
}
.grid-content_1 p{
        font-size: 64px;
    color: black;
    text-align: left;
    margin-right: 10%;
}

.grid-content_1 ul li{
    text-align: left;
    margin-left: 10%;
}


.grid_container_1_button{
padding: 3%;
 width:30%; 
 background-color: #ff0000;
  border-radius: 10px; 
  background: #FF0000 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
  color: white;
}

.grid_container_1_button:hover{
 background: white;
  box-shadow:  0px 3px 8px #afafaf;

  color: #ff0000;
}

.flex-item {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
}

#main {
  top: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/*THIS IS FOR THE ANIMATED BOUNCING IMAGE*/

#bounce {
  margin-top: 10%;
  animation: float 2s infinite;
}

#bounce_image img{
  margin-top: 15%;
}



@keyframes float {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 600px) {


.grid-content_1 img{
display: none;}


.grid-content_1 p{
    margin-left: 20%;
}


}


.about_section h1{
    text-align: left;
    margin-left: 10%;
}

/*-------===============THIS ENDS THE FIRST ROW DIV---------------*/
/*-------===============THIS IS FOR THE CHANGE SECTION ANIMATION---------------*/

.about_section p{

}
#buttons p{
  color: rebeccapurple;
}
#buttons {
  min-width: 30%;

}

.about_sirinu {
    text-align: left;
font: normal normal normal 48px/63px Roboto;
letter-spacing: 0px;
color: #000000;
}

.about_sirinu p span{
    text-align: left;
font: normal normal bold 48px/63px Roboto;
letter-spacing: 0px;
color: #000000;
}

.about_sirinu_h5{
    font-size: 20px;
    text-align: left;
font: normal normal normal 20px/32px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

#intro {
  width: 70%;
  min-width: 30%;
  margin-right: auto;
  margin-left: auto;
}


.info {
  background-color: #f0f0f0;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
}
.info:hover{
  background-color: #ECAB8A;
  font-weight: bold;
}


#answer{
     
}

.first_answer p{
    text-align: left;
font: normal normal normal 18px/32px Roboto;
letter-spacing: 0px;
color: green;
opacity: 1;
}

#answer {
  box-sizing: border-box;
  margin-top: 2%;
  width: 70%;
  min-width: 50%;
  height: ;
  left: 5%;
  background:  transparent;
  padding: 20px;
  text-align: left;
font: normal normal normal 18px/32px Roboto;
letter-spacing: 0px;
color: orange;
opacity: 1;
}

.answers{
font: normal normal normal 18px/32px Roboto;
}

#answer p{
    text-align: left;
    left: 825px;
    margin-left: 6%;
font: normal normal normal 18px/32px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}



#important {
  display: none;
  width: 70%;
}

.closed {
  display: none;
}
.open {
  display: inline-block;
}

footer {
  padding-top: 20px;
  margin-top: 20px;
  font-style: italic;
}

.question {
    margin-top: 14%;
  text-align: justify;
  border: none;
  outline: none;
  padding: 10px 16px;
 background: linear-gradient(to bottom, transparent 80%, #afafaf 20%);
  cursor: pointer;
  color:#afafaf ;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
 background: linear-gradient(to bottom, #f0f0f0 80%, BLACK 20%);
   color: black;
   font-weight: bolder;
}



@media screen and (max-width: 600px) {
  .question {
    font-size: 5px;
  }}
/*-------===============THIS IS FOR THE CHANGE SECTION ANIMATION---------------*/

/*---==========================THIS IS FOR THE ROADMAP DIV----===============*/
 .roadmap_button{
    background-color: #000066;
    padding: 3%;
    width: 8%;
    height: 50vh;
    border-radius: 15%;
  }

  .button-container{
    margin-top: 15%;
  }

    .roadmap_slider a{
      color: BLACK;
      text-decoration: NONE;
      text-align: left;
    }

  #roadmap_container {
  width: 100vw;
  margin: 0;
  background-color: transparent;
  padding: 0;
  display: grid ;
  place-items: center
}

.roadmap_slider p{
    background-color: #000066; 
    border-radius: 50%;
    padding:5%;
    text-align: center; 
     color:white; 
     font-weight: bolder;
}

#slider-container {
  height: 300px;

  width: 85vw;
  max-width: 1400px;
  background: transparent;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .roadmap_btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid #000066;
  border-top: 8px solid #000066;
}

#slider-container .roadmap_btn:hover {
  transform: scale(1.2);
}

#slider-container .roadmap_btn.inactive {
  border-color: rgb(153, 121, 126)
}

#slider-container .roadmap_btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px
}

#slider-container .roadmap_btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%; 
  transition: all .5s;
}

#slider-container #slider .roadmap_slider {
  height: 90%;
  margin: auto 10px;
  display: grid;
  place-items: center;
}

#slider-container #slider .roadmap_slider span {
  color: white;
  font-size: 15px;
  text-align: center;

}

.button{
  margin-left: 20%;
  padding: 5%;
  width: 25%;
  border-radius: 15%;
  background-color: #000066;
}


.btn{
}
@media only screen and (min-width: 1100px) {

  #slider-container #slider .roadmap_slider {
    width: calc(2.5% - 20px);
  }

}

@media only screen and (max-width: 1100px) {

  #slider-container #slider .roadmap_slider {
    width: calc(3.3333333% - 20px);
  }

}

@media only screen and (max-width: 900px) {

  #slider-container #slider .roadmap_slider {
    width: calc(5% - 20px);
  }

}

@media only screen and (max-width: 550px) {

  #slider-container #slider .roadmap_slider {
    width: calc(10% - 20px);
  }

}


/*-----=================THIS ENDS THE ROADMAP DIV--=====================*/
/*--====================THIS IS FOR THE FOOTER---======================*/
.footer_section h5{
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-top: 2%;

}

hr.new1 {
  border-top: 1px solid #fff;
}

.footer {
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: #000066;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.links li {
  font-size: 1.5rem;
  margin-bottom: 10px
      list-style-type: none;

}

.links ul {
  list-style: none;
}
.links li a {
  font-size: 15px;
      font-family: roboto;

  color: white;
  text-decoration: none;
list-style-type: none}

.links li a:hover{
    color: #ff0000;
}

.logo {
  width: 30%;
}

.quickLinks {
  margin-top: 70px;

  width: 30%;
  margin-left: 8%;
}

.quickLinks p{
  font-size: 15px;
  text-align: justify;
  color: white;
}

.quickContacts {
  width: 30%;
  margin-top: 70px;
  color: white;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0px 20px;
  }

  .logo,
  .quickLinks,
  .quickContacts {
    width: 100%;
  }

  .quickLinks ul li{

    text-align: center;
  }

  .quickLinks h1{
    text-align: center;

  }

  .quickContacts h1{
    text-align: center;
  }

  .quickLinks p{
    margin-right: 15%;
    text-align: center;
  }

  .quickLinks img{
    margin-left: 20%;
  }
}




/*THIS IS FOR THE SOCIAL MEDIA LINKS*/



.socia_links_section {
  margin-right: ;
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social-links {
  display: flex;
}

.social-links a {
  background-color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 13px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.social-links a .fab {
  font-size: 15px;
  line-height: 40px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

.social-links a::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: #000;
  background-color: #7171b8;
  position: absolute;
  transition: 0.5s;
}

.social-links a:hover::after {
  top: 0;
}

.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-10px);
}

